html,body{
    height: 100%;
    width: 100%;
}

#container {
    margin: auto;
    border: 1px solid #ccc;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.19), 0px 6px 6px rgba(0,0,0,0.23);
}

#poke-container {
    margin: auto;
    width: 90%;
    padding: 10px;
}

#header-container {
    border-radius: 0px !important;
}

#header-text{
    margin: 0 auto;
}

#generate-pokemon {
    margin: 0 auto;
    text-decoration: solid;
}

#delete-btn {
    position: absolute;
    left: 85%;
    display: none;
    margin-bottom: 5%;
}